.container.contents
  %h2
    Edit Account
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    .form-inputs
      .panel.panel-primary.info
        %h4 Account Infomation
        = f.input :email, required: true, autofocus: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for: #{resource.unconfirmed_email}

        .customLabel    
          = f.label :avatar, "Profile Photo"
        = f.label :avatar do
          = f.file_field :avatar
          = f.hidden_field :avatar_cache  

        = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false 
        = f.input :password_confirmation, required: false
      .panel.panel-primary.info  
        %h4 Personal Infomation
        = f.input :firstName, autocomplete: "off"
        = f.input :lastName, autocomplete: "off"
        = f.input :phone, autocomplete: "off"
        = f.input :bio, autocomplete: "off", placeholder: "Give a description of yourself..."
        = f.input :dob, :start_year => 1930, :end_year => 2000, autocomplete: "off", label: "Year of birth"
        = f.label :home_address, "Home and Work address"
        %p.text-muted
          Providing your home and work address allows the search results to be more precise. 

        =f.text_field :home_address, id: "origin-input", placeholder: 'Enter pickup location'
        =f.text_field :work_address, id: "destination-input", placeholder: 'Enter drop off location' 

      .panel.panel-primary.info  
        %h4 Your Car Infomation
        = f.input :make, autocomplete: "off", :collection => ["Ford", "VolksWagen", "Skoda", "BMW", "Mercedes", "Nissan," "Kia", "Mini", "Suzuki", "Toyota", "Pugeot"], :selected => "Ford"
        = f.input :model, autocomplete: "off"
        = f.input :year, :start_year => 1980, :end_year => 2018, autocomplete: "off"
      = f.input :current_password, hint: "we need your current password to confirm your changes", required: true
    .form-actions
      = f.button :submit, "Update"
  %h3 Cancel my account
  %p
    Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  = link_to "Back", :back
   

/ javascript for autocomplete input 
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDqnbDDZdGNHuoFZk6LM3Jwq2JE8iVv7OA&libraries=places&types=cities&callback=init"}
:javascript
  function init() {
    var directionsService = new google.maps.DirectionsService;  
    var map;
    new AutocompleteDirectionsHandler(map);
  }

  function AutocompleteDirectionsHandler(map) {
    var originInput = document.getElementById('origin-input');
    var destinationInput = document.getElementById('destination-input');
    var originAutocomplete = new google.maps.places.Autocomplete(
        originInput, {placeIdOnly: true});
    var destinationAutocomplete = new google.maps.places.Autocomplete(
        destinationInput, {placeIdOnly: true});
  }
