= simple_form_for @offer, html: { multipart: true } do |f|
  - if @offer.errors.any?
    #errors
      %h2
        = pluralize(@offer.errors.count, "error")
        prevented this post from saving
      %ul
        - @offer.errors.full_messages.each do |msg|
          %li
            = msg

  .row
    .col-sm-2 
    .col-sm-3
      %h1 Offer a Lift
  .row
    .col-sm-2 
    .col-sm-3         
      .form-group
        .step1
          %h3 Step 1
          %p#tip Enter in the pickup and drop off location in the map opposite.
          =f.text_field :pickup, class: "form-control form-control-lg", id: "origin-input", placeholder: 'Enter pickup location'
          / = f.input :pickup, :readonly => true, input_html: {class: 'form-control', id: 'pickup'}
          =f.text_field :dropoff, class: "form-control form-control-lg", id: "destination-input", placeholder: 'Enter drop off location'
          = f.input :description, input_html: {class: 'form-control', id: "destination"}
          .customLabel
            = f.label :date, "Time and Date"
            #datetimepicker1.input-group.date
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
              =f.text_field :date, input_html: {class: 'form-control'}
              
          = f.input :seats, :label => "Available seats", :collection => ["1", "2", "3", "4"], :selected => "1", input_html: {id: 'noOfSeats'}
          %button.btn.btn-primary.btn-block#continueBtn{:type => "button"} Continue

      .step2
        %h3 Step 2
        = f.label :Price, "Price per passenger"
        .customLabel
          .input-group
            %span.input-group-addon £
            = f.input :price, :label => false, input_html: {class: 'form-control currency', id: 'price' }

        .customLabel
          = f.label :smoking, "Smoking" 
          %br/
          = f.radio_button :smoking, 'True'
          Allowed &nbsp
          = f.radio_button :smoking, 'False' 
          Not Allowed
          %br/
        .customLabel  
          = f.label :food, "Food" 
          %br/
          = f.radio_button :food, 'True'
          Allowed &nbsp
          = f.radio_button :food, 'False' 
          Not Allowed  

        = f.input :luggage, :label => "Luggage", :collection => ["small", "medium", "large"], :selected => "small"
        
        %span.glyphicon.glyphicon-info-sign{"data-toggle" => "tooltip", :title => "Flexibility specifies how long you are willing to wait to pick up the passenger after the agreed time."}

        = f.input :flexibility, :label => "Flexibility", :collection => ["On time", "10 Minutes", "20 Minutes", "30 Minutes"], :selected => "On time"

        = f.input :detour, :label => "Detour", :collection => ["None", "5 Miles", "10 Miles", "15 Miles"], :selected => "None"

        #hide
          =f.input :miles, input_html: {id: "totalMiles"} 

        = f.button :submit, {class: "btn btn-primary btn-block"}
    .col-sm-5#mapContainer     
      =render 'map'
      #results
