= simple_form_for @offer, html: { multipart: true } do |f|
  - if @offer.errors.any?
    #errors
      %h2
        = pluralize(@offer.errors.count, "error")
        prevented this post from saving
      %ul
        - @offer.errors.full_messages.each do |msg|
          %li
            = msg

  .row
    .col-sm-2 
    .col-sm-3
      %h1 Offer a Lift
  .row#fuck
    .col-sm-2 
    .col-sm-3         
      .form-group
        .step1
          %h3 Step 1
          = f.input :pickup, input_html: {class: 'form-control'}
          = f.input :dropoff, {class: 'form-control', id: "destination-input"}
          = f.input :description, input_html: {class: 'form-control', id: "destination"}
          .offerList
            = f.label :date, "Time and Date"
            #datetimepicker1.input-group.date
              =f.text_field :date, input_html: {class: 'form-control'}
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
          = f.input :seats, :label => "Available seats", :collection => ["1", "2", "3", "4"], :selected => "1"
          %button.btn.btn-primary.btn-block#continueBtn{:type => "button"} Continue

      .step2
        %h3 Step 2
        .offerList
          = f.label :smoking, "Smoking" 
          %br/
          = f.radio_button :smoking, 'True'
          Allowed &nbsp
          = f.radio_button :smoking, 'False' 
          Not Allowed
          %br/
        .offerList  
          = f.label :food, "Food" 
          %br/
          = f.radio_button :food, 'True'
          Allowed &nbsp
          = f.radio_button :food, 'False' 
          Not Allowed  

        = f.input :luggage, :label => "Luggage", :collection => ["small", "medium", "large"], :selected => "small"
        
        %span.glyphicon.glyphicon-info-sign{"data-toggle" => "tooltip", :title => "Flexibility specifies how long you are willing to wait to pick up the passenger after the agreed time."}

        = f.input :flexibility, :label => "Flexibility", :collection => ["On time", "10 Minute Window", "20 Minute Window", "30 Minute Window"], :selected => "None"
        = f.button :submit, {class: "btn btn-primary btn-block"}
    .col-sm-5#mapContainer     
      =render 'map'
