%h1= @offer.pickup
%h1= @offer.dropoff
%p= @offer.description
%p= @offer.user.email
smoking
= @offer.smoking
= @offer.luggage
= @offer.flexibility
= @offer.seats
= @offer.food
= @offer.date
= @offer.price
= @offer.detour


=link_to "Back", root_path
=link_to "Edit", edit_offer_path
=link_to "Delete", offer_path, method: :delete, data: {confirm: "Are yous sure?"}