.container.contents
	=render 'showMap'
	

	.row
		.col-lg-8
			.panel#rideInfo
				.row
					.col-md-12
						%h2#pickupShow
							=@offer.pickup
						to &nbsp
						%h2#dropoffShow
							=@offer.dropoff
				.row#rideInfo
					.col-md-12		
						%ul.list-inline
							%li.list-inline-item
								%span.glyphicon.glyphicon-user
								= @offer.seats
								-if @offer.seats < 2
									Seat Available!
								-else
									Seats Available!
							%li.list-inline-item
								%span.glyphicon.glyphicon-hourglass		
								= @offer.flexibility
								-if @offer.flexibility == "On time"
									No Flexibility
								-else	
									Flexibility		
							%li.list-inline-item
								%span.glyphicon.glyphicon-road
								= @offer.detour
								detour
				.row#rideInfo
					.col-md-12
						One off lift:
						=@offer.date.strftime("%B %d at %H:%m")					

		.col-lg-4
			/ only display if offer is not made by the current user
			-if user_signed_in?
				-if @offer.user != current_user
					.panel.panel-primary.info#rideInfo
						.row
							.col-md-12.text-center
								%h3.inline
									£
									=@offer.price 
								per passenger

						= simple_form_for @offer, html: { multipart: true } do |f|
							-if @offer.passenger_id != current_user.id
								=f.hidden_field :passenger_id, value: current_user.id
								= f.button :submit, "Book This Lift", {class: "btn btn-primary btn-block margintop20"}
							-else 
								/ reset passenger_id if user cancels lift
								=f.hidden_field :passenger_id, value: nil
								= f.button :submit, "Cancel lift", {class: "btn btn-primary btn-block"}
			-else
				.panel.panel-primary.info
					%p 
						You must
						= link_to "Sign In", new_user_session_path
						in in order to book this lift.							
		
								
	.row
		.col-lg-8
			.panel.descriptionShow#rideInfo
				.row
					.col-sm-2.avatarShow
						=image_tag @offer.user.avatar.url.to_s
					.col-sm-4
						%h4
							Car driven by
							=link_to @offer.user.firstName, user_path(@offer.user.id)
							=link_to @offer.user.lastName, user_path(@offer.user.id)
						-if @offer.user.make	
							%p
								Drives a 
								=@offer.user.year.strftime("%Y")
								=@offer.user.make	
								=@offer.user.model
					.col-sm-5
						= link_to(user_chats_path(current_user, :other_user => @offer.user.id), method: :post) do
							%button.btn.btn-primary.pull-right{:type => "button"} Ask a question			
				.row
					.col-md-12
						%p=@offer.description									
		.col-lg-4
			.panel#rideInfo
				.row
					.col-sm-12
						%h2 Car Rules
					.col-sm-12
						-if @offer.smoking
							%h5 Smoking allowed
						-else	
							%h5 Smoking not allowed
				.row
					.col-sm-12
						-if @offer.food
							%h5 Food allowed
						-else	
							%h5 Food not allowed
				.row
					.col-sm-12
						%h5
							= @offer.luggage
							luggage allowed

	-if user_signed_in?
		-if @offer.user == current_user
			=link_to "Edit", edit_offer_path
			=link_to "Delete", offer_path, method: :delete, data: {confirm: "Are yous sure?"}