!!!5
%html
	%head
		%title Car Share V2
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		= csrf_meta_tags
		= action_cable_meta_tag
	%body	
		-flash.each do |name, msg|
			=content_tag :div, msg, class: "alert alert-info"

		%nav.navbar.navbar-default.custom
			.container-fluid
				.navbar-header
					.navbar-brand 
						=link_to " Car Share ", root_path
				%ul.nav.navbar-nav
					-if user_signed_in?
						%li.active
							=link_to "Home", root_path		
						%li 
							=link_to "Offer a Lift", new_offer_path
						%li
							=link_to "My Account", user_path(current_user)
						%li
							= link_to "Sign Out", destroy_user_session_path, method: :delete
					-elsif admin_signed_in?
						%li 
							=link_to "Dashboard", admins_root_path
						%li
							=link_to "Offers", admins_offers_path
						%li
							=link_to "Users", admins_users_path
						%li
							= link_to "Sign Out", destroy_admin_session_path, method: :delete		
									
					-else
						%li.active
							=link_to "Home", root_path	
						%li
							= link_to "Sign In", new_user_session_path

		.contentsContainer		
			= yield