!!!5
%html
	%head
		%title Car Share V3
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		= csrf_meta_tags
		= action_cable_meta_tag
	%body
		-flash.each do |name, msg|
			=content_tag :div, msg, class: "alert alert-info"	
		%nav.navbar.navbar-expand-lg.navbar-fixed-top#mainNav
			.container
				.navbar-brand
					=link_to " Car Share ", root_path
				%ul.nav.navbar-nav.navbar-right
					-if user_signed_in?
						%ul.nav.navbar-nav
							%li.nav-item
								=link_to "Find a Lift", search_path, class: "nav-link"		
							%li.nav-item
								=link_to "Offer a Lift", new_offer_path, class: "nav-link"
							%li.nav-item
								=link_to "My Account", user_path(current_user), class: "nav-link"
							%li.dropdown.nav-link
								%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
									%span.glyphicon.glyphicon-envelope
									/ %span.caret
								%ul.dropdown-menu#not
									=render 'notifications/navNotifications'
							%li.nav-item
								= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link"
					-elsif admin_signed_in?
						%li 
							=link_to "Dashboard", admins_root_path
						%li
							=link_to "Offers", admins_offers_path
						%li
							=link_to "Users", admins_users_path
						%li
							= link_to "Sign Out", destroy_admin_session_path, method: :delete					
					-else
						%li.nav-item
							%a.nav-link{"data-target" => "#signInModal", "data-toggle" => "modal", "href" => ""} Sign In
						%li.nav-item
							%a.nav-link{"data-target" => "#signUpModal", "data-toggle" => "modal", "href" => ""} Sign Up
		= yield		